@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px; */

  --color-accent-blue: #53c6ce;
  --color-deep-blue: #171b2c;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* .accent-blue{
  background-color: #53c6ce;
  color: #171b2c;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slide{
  animation: infinite linear foreverSlide 10s;
  -webkit-animation: infinite linear foreverSlide 10s;
}

@keyframes foreverSlide {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
  
}